body
{
    background-color:blue;
}

#score {
    font-size: 30px;
    float:left;
}

#timer {
    font-size: 30px;
    float: right;
}

#sketch {
    color: red;
    font-size: 30px;
}

#Your_Sketch {
    font-size: 30px;
}